@charset "UTF-8";
html{font-size: 62.5%;}
body{max-width: 820px;margin: 0 auto;position: relative;}
ul,li{list-style: none;}
header{height: 4rem;background: -webkit-linear-gradient(#EDEDED, #fff);box-shadow: 0 .1rem .1rem #ccc;overflow:hidden;}
header a{width:24px;height:24px;background: url(../assets/images/back.png) no-repeat;display: block;background-size: 24px 24px;position: absolute;left: 1rem;top: .9rem;}
header h2{line-height: 4rem;text-align: center;font-size: 1.6rem;margin: 0;}
article{font-size: 1.6rem;padding: 2rem 2rem 0 2rem;line-height: 2.5rem;}
.ewm{text-align: center;padding: 0 1rem;}
.ewm img{width: 100%;}
